In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplolib.pyplot as plt

In [2]:
df = pd.read_csv('./train.csv', header=0)
df = df.drop(columns=['PassengerId', 'Name', 'Cabin', 'Ticket', 'Fare'])

In [3]:
# sex_map = {
#     'male' : 0,
#     'female' : 1
# }

# emb_map = {
#     'S': 0,
#     'C': 1,
#     'Q': 2
# }

# df['Sex'] = df['Sex'].map(sex_map)
# df['Embarked'] = df['Embarked'].map(emb_map)

In [4]:
df_test = pd.read_csv('./test.csv', header=0)
test_id = df_test['PassengerId']
df_test = df_test.drop(columns=['PassengerId', 'Name', 'Cabin', 'Ticket', 'Fare'])
df_test['Sex'] = df_test['Sex'].map(sex_map)
df_test['Embarked'] = df_test['Embarked'].map(emb_map)

In [5]:
na_idx = df[df.isna().any(axis=1)].index
df_na = df.iloc[na_idx]
df_na.head()

    Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
5          0       3    0  NaN      0      0       2.0
17         1       2    0  NaN      0      0       0.0
19         1       3    1  NaN      0      0       1.0
26         0       3    0  NaN      0      0       1.0
28         1       3    1  NaN      0      0       2.0

In [6]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [7]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [ ]:
df.isna().sum()

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna('Age')