In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

##### 문제 #1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [ ]:
df.head()

In [ ]:
df['age_range'] = df['age'].astype('str').apply(lambda x: x[0]+'0')
df['age_range'] = df['age_range'].astype('int')
df['age_range'].value_counts()
# 정답: 30대

In [6]:
# 해설
(df.age//10 * 10).value_counts().index[0]

30

#### 문제 #2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [7]:
(df.age//10 * 10).value_counts().values[0]

5056

#### 문제 #3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [9]:
df['age'] = df['age'].astype('int')
print(len(df[(df['age']>=25) & (df['age'] < 29) & (df['housing'] == 'yes')]))
# 504명

504

#### 문제 #4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [10]:
lst = []
for col in df.select_dtypes(exclude='int'): # int가 아닌 놈들만 고르기
    target = df[col]
    lst.append([col, target.nunique()])

In [11]:
# list sort
lst.sort(key=lambda x: -x[1])
print(lst)

[['job', 12], ['month', 12], ['education', 4], ['poutcome', 4], ['marital', 3], ['contact', 3], ['default', 2], ['housing', 2], ['loan', 2], ['y', 2]]

In [12]:
# dataframe sort

dfs = pd.DataFrame(lst).sort_values(by=1, ascending=False)
print(dfs[dfs[1]==dfs[1].max()][0].values)

['job' 'month']

#### 문제 #5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [13]:
df['ID'] = df['ID'].astype(int)
mean = df['balance'].mean()
target = df[df['balance'] >= mean].sort_values(by='ID', ascending=False)[:100]

In [14]:
target['balance'].mean()

3473.73

#### 문제 #6. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [15]:
df[['day', 'month']].value_counts().index[0]

(15, 'may')

#### 문제 #7. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

#### 문제 #8. age와 balance의 상관계수를 구하여라

In [ ]:
df[['age', 'balance']].corr().iloc[0, 1]

#### 문제 #9. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

#### 문제 #10. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [ ]:
# .groupby(column) + 통계함수 로 그룹별 통계량 확인 가능
# 수치형 컬럼에 대해서만 산출
# .agg()를 활용하여 다중통계량 구할 수 있음
# df.groupby('sex').agg(['mean', 'var'])

In [ ]:
t= df.groupby(['job', 'marital']).size().reset_index()
pivotdf = t.pivot_table(index='job', columns='marital')[0]
pivotdf = pivotdf.fillna(0)
pivotdf['ratio'] = pivotdf['divorced']/pivotdf['married']

In [ ]:
pivotdf['ratio'].max()

In [ ]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())